.toolbar{ height: 90px; position: relative; background: #fff;}
.touxiang_wrap,.dt_time,.dt_address,.dt_connect,.dt_cost,.jili,.readyhave,.tx_img,.join_name .icon_1,.join_name .icon_2,.fixed_div .star,.ob1{ background: url(../images/details.png) no-repeat;}

/*error css*/
.m-modal{ width:400px; height:100px; margin:auto; position:fixed; z-index:99;left:0; top:-80px; right:0; bottom:0; background: #000; opacity: 0.5; border-radius: 10px;}
.error-container h3 { font-family:'宋体'; color: #fff; text-align: center; font-weight: normal; font-size: 3.2rem; line-height: 100px;
 width:400px; height:100px; margin:auto; position:fixed; z-index:999; left:0; top:-80px; right:0; bottom:0;}
.error-container h3 i{ height: 100px; width: 34px; display: inline-block; vertical-align: middle; margin-right: 10px;}
.error-container h3 i.ob1{ background-position: 0 -391px;}
.error-container .m-opacity-layer{ position: fixed; top: 0; left: 0; width: 100%; bottom: 0; right: 0; margin: auto; z-index: 10;}
/*error css end*/

.img_area { position: relative;}
.img_area img{ max-width: 750px;}
.img_area .nicheng{ height: 46px; line-height: 46px; display: inline-block; position: absolute; top: 320px; right: 78px; background: #fff; color: #999; padding: 0 60px 0 18px; border-radius: 5px; font-size: 2.4rem; text-align: right;}
.img_area .touxiang_wrap{ width: 95px; height: 95px; position: absolute; top: 298px; right: 30px; background-position: -264px 0;}
.touxiang_wrap img{ border-radius: 50px; width: 88px; height: 88px; margin: 2px;}
.content{ padding-left: 4%; font-family: "宋体"; background: #fff;}
.content .dt_item{ clear: left; padding:15px 4% 15px 90px; font-size: 2.4rem; color: #999; border-bottom: 1px solid #D8D8D8;}
.content .dt_title{ font-weight: normal; font-size:3.6rem; line-height: 46px; color: #444; padding-right: 4%; padding:25px 4% 25px 0;}
.content .dt_name{ font-size: 2.8rem; color: #444; line-height: 44px;}
.content .dt_value{ font-size: 2.4rem; color: #999; line-height: 40px;}
.content .dt_address{ padding: 0 0 0 90px; height: 145px;}
.content .dt_address .wz{ width: 538px; float: left; margin-top: 13px;}
.content .dt_address .wz .dt_value{ width: 500px;}
.content .dt_address .jili{ width: 90px; height: 85px; text-align: center; border-left: 1px solid #D8D8D8; float: left; padding: 30px 0;}
.content .dt_info{ padding: 20px 4% 30px 0;}
.content .dt_info .dt_name{ color: #999; text-align: center; margin: 10px 0;}
.content .dt_info .dt_value{ color: #444; line-height: 44px;}
.content .dt_cost{ padding:25px 4% 25px 90px;}
.content .dt_cost .dt_value{ font-size: 3.6rem;}
.content .dt_time{ background-position: -568px 20px;}
.content .dt_address{ background-position: -568px -89px;}
.content .jili{ background-position: -380px 63px}
.content .dt_connect{ background-position: -568px -384px;}
.content .dt_cost{ background-position: -568px -284px; border-bottom: 0;}
.join_list{ margin-top: 20px; background: #fff; font-size: 2.4rem; font-family: "宋体"; color: #999; padding-left: 4%;padding-bottom: 110px;}
.join_list .pt30{ padding-left: 30px;}
.join_list .readyhave{ line-height: 50px; padding-left: 30px; background-position: -610px -235px;}

.join_list dl{}
.join_list dl dd{ padding: 30px 0; border-top: 1px solid #D8D8D8;}
.join_list dl dd .tx_img{ width: 80px; height: 67px; background-position: -38px -100px; float: left;}
.join_list dl dd .tx_img img{ width: 66px; height: 66px; border-radius: 50%;}
.join_list .join_info{ width: 88%; display: inline-block;}
.join_list .join_info .join_name{ color: #404040; font-size: 2.4rem; margin-bottom: 8px;}
.join_name .icon_1{ background-position: 0 -99px; width: 23px; height: 19px; display: inline-block; margin: 0 5px;}
.join_name .icon_2{ background-position: 0 -141px; width: 23px; height: 19px; display: inline-block; margin: 0 5px;}
.join_say .say_con{ width: 95%; line-height: 34px;}
.fixed_div{ background: #fff; border-top:1px solid #D8D8D8; height: 110px; line-height: 110px; text-align: center; display: block; width: 100%; font-size: 3.2rem; position: fixed; bottom: 0; left: 0;}
.fixed_div .star{ background-position: 0 -218px; width: 32px; height: 110px; display: inline-block; vertical-align: middle; margin-right: 10px;}